<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <%= message.user.last_name %>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
    <div>
      <% if message.user.id == current_user.id %>
        <div class="edit-delete">
          <div class="edit">
            <%= link_to 'へんしゅう', "#", class: :edit %>
          </div>
          <div class="delete">
            <%= link_to 'さくじょ', "#", class: :delete %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>