<%= render "shared/header" %>

<main>
  <div class="message-display">
    <%= render partial: 'message', collection: @messages %>
  </div>
  <div class="message-box">
    <%= form_with model: [@class_room, @message], local: true do |f| %>
      <%= f.text_field :content, class:"content", placeholder:"メッセージ", min:1, max: 300 %>
      <%= f.submit "送信する", class:"message-send" %>
    <% end %>
  </div>
</main>