<%= render "shared/header" %>

  <main>
      <%if user_signed_in? %>
        <div class="main-menus">
          <ul class="menu-lists">
            <li class="menu-list">
              <%= link_to 'チャットルーム', class_room_messages_path(current_user.class_room.id) %>
            </li>
              <%= image_tag "sns_happy_woman.png", class:"chat-image" %>
            <li class="menu-list">
              <%= link_to '宿題チェック', '#' %>
            </li>
            <li class="menu-list">
              <%= link_to 'カレンダー', '#' %>
            </li>
            <li class="menu-list">
              <%= link_to 'フォ便り', class_room_posts_path(current_user.class_room.id) %>
            </li>
            <li class="menu-list">
              <%= link_to 'マイページ', class_room_user_path(current_user.class_room.id, current_user.id) %>
            </li>
          </ul>
        </div>
      <% end %>
  </main>

<%= render "shared/footer" %>