<%= render "shared/header" %>

  <main>
    <%#ログインユーザー画面%>
    <p><%= flash[:success] %></p>
      <%if user_signed_in? %>
        <div class="main-menus">
          <ul class="menu-lists">
            <li class="menu-list">
              <%= link_to 'チャットルーム', class_room_messages_path(current_user.class_room.id ), class: "menu-name" %>
            </li>
              <%#= image_tag asset_path("/images/sns_happy_woman.png", class:"chat-image") %>
            <%# <li class="menu-list"> %>
              <%#= link_to '宿題チェック', '#', class: "menu-name" %>
            <%# </li> %>
            <%# <li class="menu-list"> %>
              <%#= link_to '係活動', '#', class: "menu-name" %>
            <%# </li> %>
              <%#= image_tag asset_path("/images/study_school_jugyou_boy.png", class:"chat-image") %>
            <li class="menu-list">
              <%= link_to 'カレンダー', class_room_calendar_path(current_user.class_room.id, current_user.id), class: "menu-name" %>
            </li>
              <%#= image_tag asset_path("/images/calender_takujou.png", class:"chat-image") %>
            <li class="menu-list">
              <%= link_to 'フォ便り', class_room_posts_path(current_user.class_room.id), class: "menu-name" %>
            </li>
              <%#= image_tag asset_path("/images/smartphone_photo_woman_yoko.png", class:"chat-image") %>
            <li class="menu-list">
              <%= link_to 'マイページ', class_room_user_path(current_user.class_room.id, current_user.id), class: "menu-name" %>
            </li>
              <%#= image_tag asset_path("/images/smartphone_jidori_selfy_schoolgirl.png", class:"chat-image") %>
          </ul>
        </div>
      <% end %>
    <%#ログアウトユーザー画面%>
    <%# if admin_signed_in? %>
      <div class="main-menus">
        <ul class="menu-lists">
          <li class="menu-list">
            <%= link_to '学校登録' , new_school_path, class: "menu-name" %>
          </li>
              <%#= image_tag asset_path("/images/school.png", class:"chat-image") %>
          <li class="menu-list">
            <%= link_to 'クラス登録' , new_class_room_path, class: "menu-name" %>
          </li>
        </ul>
      </div>
    <%# end %>
  </main>
<%= render "shared/footer" %>