<%= render "shared/header" %>

  <main>
    <%#ログインユーザー画面%>
    <p><%= flash[:success] %></p>
      <%if user_signed_in? %>
        <div class="main-menus">
          <ul class="menu-lists">
            <li class="menu-list">
              <%= link_to 'チャットルーム', class_room_messages_path(current_user.class_room.id) %>
            </li>
              <%= image_tag "sns_happy_woman.png", class:"chat-image" %>
            <li class="menu-list">
              <%= link_to '宿題チェック', '#' %>
            </li>
              <%= image_tag "study_school_jugyou_boy.png", class:"chat-image" %>
            <li class="menu-list">
              <%= link_to 'カレンダー', '#' %>
            </li>
              <%= image_tag "calender_takujou.png", class:"chat-image" %>
            <li class="menu-list">
              <%= link_to 'フォ便り', class_room_posts_path(current_user.class_room.id) %>
            </li>
              <%= image_tag "smartphone_photo_woman_yoko.png", class:"chat-image" %>
            <li class="menu-list">
              <%= link_to 'マイページ', class_room_user_path(current_user.class_room.id, current_user.id) %>
            </li>
              <%= image_tag "smartphone_jidori_selfy_schoolgirl.png", class:"chat-image" %>
          </ul>
        </div>
      <% end %>
    <%#ログアウトユーザー画面%>
    <% unless user_signed_in? %>
      <div class="main-menus">
        <ul class="menu-lists">
          <li class="menu-list">
            <%= link_to '学校登録' , new_school_path, class: :"reg-school" %>
          </li>
              <%= image_tag "school.png", class:"chat-image" %>
          <li class="menu-list">
            <%= link_to 'クラス登録' , new_class_room_path, class: :"reg-classroom" %>
          </li>
        </ul>
      </div>
    <% end %>
  </main>
<%= render "shared/footer" %>