<%= render "shared/header" %>
<main>
  <div class="class-room-info">
    <p><%= @class_room.grade %>年<%= @class_room.class_number %>組</p>
    <% if @class_room.class_goals.nil? %>
      <p>学級目標は『<%= @class_room.class_goals %>』です。</p>
    <% else %>
      <p>学級目標は登録されていません。</P>
    <% end %>
    <p>クラスIDは<%= @class_room.id %>です。</p>
  </div>
  <%= link_to 'TOPページへ', root_path, class:"back-btn" %>
</main>