<%= render "shared/header" %>
<main>
  <div class="class-room-info">
    <p>登録されたクラスは、</p>
    <p><%= @class_room.grade %>年<%= @class_room.class_number %>組</p>
    <% if @class_room.class_goals.empty? %>
      <p>学級目標は登録されていません。</P>
    <% else %>
      <p>学級目標は『<%= @class_room.class_goals %>』です。</p>
    <% end %>
    <p class="attention">ユーザーを登録する際に、クラスIDが必要になります。必ず、覚えてください。</p>
    <p class="attention">クラスIDは、<span class="info-class-id">【<%= @class_room.id %>】</span>です。</p>
  </div>
  <%= link_to 'TOPページへ', root_path, class:"back-btn" %>
</main>