<%= render "shared/header" %>
<main>
  <div>
    <%= @user.nickname %>
  </div>
  <div>
    <%= @user.id %>
  </div>
  <div>
  </div>
  <%= link_to 'へんしゅうする', edit_user_registration_path %>
  <%= link_to 'もどる', :back, class:"back-btn" %>
</main>