<%= render "shared/header" %>
<main>
  <div>
    <p>上の名前</p>
    <%= @user.first_name %>
  </div>
  <div>
    <p>下の名前</p>
    <%= @user.last_name %>
  </div>
  <div>
    <p>ニックネーム</p>
    <%= @user.nickname %>
  </div>
  <div>
    <p>メールアドレス</p>
    <%= @user.email %>
  </div>
  <%= link_to 'へんしゅうする', edit_user_registration_path, class:"edit-btn" %>
  <%= link_to 'もどる', :back, class:"back-btn" %>
</main>