<%= render "shared/header" %>
<main>
  <div>
    <p class="show">上の名前:<%= @user.first_name %></p>
  </div>
  <div>
    <p class="show">下の名前:<%= @user.last_name %></p>
  </div>
  <div>
    <p class="show">ニックネーム:<%= @user.nickname %></p>
  </div>
  <div>
    <p class="show">メールアドレス:<%= @user.email %></p>
  </div>
  <%= link_to 'へんしゅうする', edit_user_registration_path, class:"edit-btn" %>
  <%= link_to 'もどる', :back, class:"back-btn" %>
</main>