<%= render "shared/header" %>
<main>
  <div>
    <p>上の名前:<%= @user.first_name %></p>
  </div>
  <div>
    <p>下の名前:<%= @user.last_name %></p>
  </div>
  <div>
    <p>ニックネーム:<%= @user.nickname %></p>
  </div>
  <div>
    <p>メールアドレス:<%= @user.email %></p>
  </div>
  <%= link_to 'へんしゅうする', edit_user_registration_path, class:"edit-btn" %>
  <%= link_to 'もどる', :back, class:"back-btn" %>
</main>