<header>
  <div class="left-header">
    <%= link_to 'Clafu', root_path, class: :"app-name" %>
  </div>
  <div class="right-header">
    <p class="time"><%= Date.today.strftime("%Y/%m/%d") %></p>
    <% if user_signed_in? %>
      <%= link_to current_user.nickname + "さん", class_room_user_path(current_user.class_room.id, current_user.id), class: :"user-nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, class: :logout %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: :login %>
      <%= link_to '新しく登録', new_user_registration_path, class: :"sign-up" %>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path %> <%#ゲストログインボタン%>
    <% end %>
  </div>
</header>