<header>
  <div class="left-header">
    <%= link_to 'Clafu', root_path, class: :"app-name" %>
  </div>
  <div class="right-header">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname + "さん", root_path, class: :"user-nickname" %>
      <%= link_to 'ログアウト', destroy_user_session_path, class: :logout %>
    <% else %>
      <%= link_to 'ログイン', new_user_session_path, class: :login %>
      <%= link_to '新しく登録', new_user_registration_path, class: :"sign-up" %>
      <%= button_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %> <%#ゲストログインボタン%>
    <% end %>
  </div>
</header>