<%= render "shared/header" %>
  <main>
    <%= form_with model: [@class_room, @post], local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
        <div class="new-posts">
          <div class="new-post-title">
            <%= f.text_field :title, class:"title", placeholder:"タイトル", min:1, max: 50, :size=>"60" %>
          </div>
          <div class="new-post-text">
            <%= f.text_field :text, class:"text", placeholder:"テキスト", min:1, max: 1000, :size=>"60" %>
          </div>
          <div class="image">
            <%= f.label :image, class:"fas fa-image" %>
            <%= f.file_field :image, style: "display: none;"%>
          </div>
          <div class="send-btn">
            <%= f.submit "送信する", class:"text-send" %>
          </div>
        </div>
    <% end %>
    <%= link_to 'もどる', :back, class:"back-btn" %>
  </main>